@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13%;
    --foreground: 0 0% 70%;
    --muted: 0 12% 17%;
    --muted-foreground: 0 12% 67%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 80%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 75%;
    --border: 0 0% 18%;
    --input: 0 0% 21%;
    --primary: 0 0% 70%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 85%;
    --accent: 0 0% 28%;
    --accent-foreground: 0 0% 88%;
    --destructive: 9 88% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 70%;
    --muted: 0 12% 17%;
    --muted-foreground: 0 12% 67%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 80%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 75%;
    --border: 0 0% 18%;
    --input: 0 0% 21%;
    --primary: 0 0% 70%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 85%;
    --accent: 0 0% 28%;
    --accent-foreground: 0 0% 88%;
    --destructive: 9 88% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 70%;
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--background);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
  box-shadow: 0 0 0px 1000px var(--background) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

.ellipsis {
  position: relative;
  max-width: 100%;
}

.ellipsis:before {
  content: '&nbsp;';
  visibility: hidden;
}

.ellipsis span {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}